* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    --pink-color:  rgb(211, 61, 94);
    --orange-color:  rgb(201, 77, 5);
}

.root {
    position: absolute;
    padding-left: 24px;
    padding-right: 24px;
    z-index: -6;
    background-color: rgb(0, 0, 0);
    width: calc(100vw - 48px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* h1 {
    color: #ffeb3b;
} */

.title {
    margin: 24px 0 0 0;
    letter-spacing: 20px;
    align-self: center;
    font-weight: lighter;
}

.heading {
    margin: 24px 0 0 0;
    display: inline-flex;
    font-size: 2.8rem;
    width: 450px;
    background: -webkit-linear-gradient(0deg, rgb(211, 61, 94), rgb(201, 77, 5));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.sub-heading {
    color: white;
}

.section-title {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
}

.text-btn {
    color:rgb(211, 61, 94);
    text-decoration: none;
}

.text-btn:hover {
    color:rgb(201, 77, 5);
}

.featured-albums {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}


.blob {
    position: absolute;
    z-index: -5;
    width: 35vw;
    height: 35vw;
    background-image: linear-gradient(107deg, rgba(71, 147, 218, 0.644), rgba(71, 247, 223, 0.877));
    border-radius: 65rem;

}

.overlay {
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    background-color: rgba(41, 41, 41, 0.377); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.album {
    margin: 24px 0 0 18px;
    background-image: url(https://source.unsplash.com/random);
    width: 180px;
    min-width: 160px;
    max-width: 500px;
    height: 20vh;
    border-radius: 45px;
    background-color: rgb(255, 255, 255, 0.18);
    box-shadow: 0px 5px 15px 0.1px rgba(78, 78, 78, 0.575);
    /* border: 1px rgba(190, 190, 190, 0.5) solid; */
    /* background-image: linear-gradient(45deg, rgba(46, 46, 46, 0.671),rgba(190, 190, 190, 0.5)); */
}

.album:hover {
    display: block; /* Hidden by default */
    cursor: pointer;      
    box-shadow: 0px 5px 15px 0.1px  rgb(211, 61, 94, 0.5);
}


.fa {
    color: #ffffff;
    font-size: 60px;
}
