.chart {
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 12px;
    background-color: #f8dfff74;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
  }