.glass-card {
    backdrop-filter: blur(20px);
    border-radius: 12px;
    box-shadow: 0 0 26px 5px rgba(0, 0, 0, 0.373);
    border-style: outset;
    border-color: rgba(255, 255, 255, 0.345);
    border-width: 0.5px;
  }
  