* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(253, 213, 213);
}

h1 {
  font-size: 1.5rem;
  color: rgb(18, 26, 21);
}
