.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-expense__control input {
    transition: box-shadow 0.3s ease-in-out;
    font: inherit;
    padding: 0.5rem;
    border-radius: inherit;
    border: none;
    width: 20rem;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.249);
  }

  .new-expense__control input:focus {
    outline: none;  
  }

  
  .new-expense__actions {
    padding: 0%;
    margin: 0 0 0 75%;
    width: fit-content;
  }

  .new-expense__actions button {
    margin:  0;
  }
