
.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: inherit;
  border: none;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  justify-content: flex-end;
}

.new-expense__actions .nue-card {
  display: flex;
  margin-right: 2rem;
}
.new-expense__actions button {
  width: max-content;
  margin: 0;
}